<div>
  <img src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>rating: {{rating}}</div>
  <div>price: {{price}}</div>
  <div>location: {{location}}</div>
  <div>url: {{url}}</div>
  <div>keywords: {{keywords}}</div>
  {{>comment.}}
</div>